body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: purple;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: darkmagenta;
}

.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: darkmagenta;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display: block;
}

nav{margin: auto;

    height: 40px;

    width: 100vw;

    background-color: rebeccapurple;
}

nav a {color: #DDDDDD;
    display: inline-block;

}


label{
    float: left;
    margin-left: 220px;
    margin-bottom: 10px;
    font-size: xx-large;

}


#new-group {
    float: right;
    margin-right: 200px;
    background-color: lawngreen;
    width: 95px;
    height: 40px;
    border-radius: 5px;
}

td{
    margin-left: 90px;
}
#divide{
    margin-bottom: 90px;
}
.img-fluid{

    width: 36px;
    height: 36px;
    margin-top: 1px;

}

.fas fa-folder{
    display: block;
    height: 30px;
    width: 60px;
    margin-right: 10px;


}
.right-side-nav{
    float: right;
    margin-left: 300px;
}




a{

    margin-left: 20px;
}

#merger-icon{
    height: 18px;
    width: 30px;
    margin-bottom: 18px;


}

#checkbox{
    height: 15px;
    width: 20px;
    margin-bottom: 18px;


}

#ghost{
    height: 20px;
    width: 20px;
    margin-bottom: 18px;
   color: plum;

}

#search{
    height: 20px;
    width: 20px;
    margin-bottom: 18px;
    color: plum;


}

.container-fluid{
    margin-top: 90px;
    margin-left: 200px;
}

.groups-label-button{
    margin-top: 60px;
}

hr{
    display: block;
    position: relative;
    margin-right: 150px;
    margin-top: 20px;
    width: 1500px;
    margin-left: 90px;
}


#search-name, #last-created{


    margin-left: 220px;
    margin-bottom: 10px;
    font-size: xx-large;

}

